In [1]:
'''
This file prepares the raw transcriptomic data for DeSEQ2. Metadata is removed from raw file and moved to a metadata file.
'''

In [ ]:
import pandas as pd
import numpy as np

In [2]:
raw_counts = pd.read_csv('rna_vst_proc.csv')

/var/folders/v1/ymptnwwx3x1b7_mw0nns09wr0000gn/T/ipykernel_22124/430702266.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_counts = pd.read_csv('rna_vst_proc.csv')

In [21]:
#remove first column
raw_counts_dropped = raw_counts.iloc[:,1:]

#get column names prior to .# minus first column
column_names = raw_counts_dropped.columns
column_names_dropped = column_names[1:]
processed_column_names = [col.split('.')[0] for col in column_names_dropped]

#add column names to metadata file under condition
metadata_rna = pd.DataFrame(columns=['conditions','timepoints','row.names'])
metadata_rna['conditions'] = processed_column_names

#get entries from time_point row minus first entry
timepoints_list = raw_counts_dropped.iloc[0, 1:].tolist()

#add to metadata file under timepoint
metadata_rna['timepoints'] = timepoints_list

#make list of Sample# - 1 - length of column
new_column_names = ['Gene'] + [f'Sample{i+1}' for i in range(0, len(raw_counts_dropped.columns)-1)]
raw_counts_dropped.columns = new_column_names

#add column in metadata file with these column names
metadata_rna['row.names'] = new_column_names[1:]

#remove first two row from read counts
raw_counts_cleaned = raw_counts_dropped.iloc[2:,:]

  conditions timepoints row.names
0    control         1H   Sample1
1    control         1H   Sample2
2    control         1H   Sample3
3    control         1H   Sample4
4    control         1H   Sample5

In [22]:
#save metadata and expression levels to csv files
raw_counts_cleaned.to_csv('raw_counts_cleaned.csv')
metadata_rna.to_csv('metadata_rna.csv')